<html>
<body>
<h1>Hola Pyxis</h1>
<h2>
 <?php
$servername = "{{ rds_endpoint }}";
$username = "{{ username_rds }}";
$password = "{{ password_rds }}";
$dbname = "sys";

// Create connection
$conn = new mysqli($servername, $username, $password, $dbname);
// Check connection
if ($conn->connect_error) {
    die("Connection failed: " . $conn->connect_error);
}

$sql = "SELECT * FROM version";
$result = $conn->query($sql);

if ($result->num_rows > 0) {
    // output data of each row
    while($row = $result->fetch_assoc()) {
        echo "Estoy conectado a RDS y la versión de Mysql es: " . $row["mysql_version"]. "<br>";
    }
} else {
    echo "0 results";
}
$conn->close();
?>
</h2>
<br>
<h3>Imagen en bucket</h3>
<img src="{{ s3_image_url }}" alt="pajarito" width="350">
</body><html>
